@font-face {
  font-family: "Lato";
  src: local("Lato-Bold"), local("Lato Bold"),
  url("assets/fonts/Lato-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: local("Lato-Black"), local("Lato Black"),
  url("assets/fonts/Lato-Black.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src:local("Lato-Light"), local("Lato Light"),
  url("assets/fonts/Lato-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: local("Lato-Regular"), local("Lato Regular"),
  url("assets/fonts/Lato-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Lato", "AdobeInvisFont", "MyriadPro-Regular", sans-serif; 
  font-weight: 400;
  font-size: 10px;
  text-align: justify;
  color: #ffffff;
}

body {
  /*min-width: 1200px; */
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  box-sizing: border-box;
  width: 1020px;
  height: 100%;
  padding: 0 40px 0 40px;
  margin: 0 auto;
}

/*~~~~~~~~~~~PORTFOLIO-BLOCK~~~~~~~~~~~*/

.portfolio {
  background-color: #2d303a;
  border-bottom: 6px solid #323746;  
}

.portfolio .wrapper {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 63px;
  padding-bottom: 67px;
  color: #666d89;
}

.title {
  flex-direction: column;
}

/*В синголо 1 есть*/
.title h2 {
  font-weight: 900;
  font-size: 3rem;
}

.title p {
  color: #767e9e;
  font-size: 1.8rem;
  font-weight: 300;
}

.portfolio__title {
  letter-spacing: -0.004em;
  line-height: 1em;
}

.portfolio__paragraph {
  margin-top: 27px;
  line-height: 1em;
}

.buttons {
  padding-top: 16.8px;
  padding-left: 1px;
}

.buttons__sort {
  font-family: "Lato", "AdobeInvisFont", "MyriadPro-Regular", sans-serif;
  font-weight: 400;
  background: none;
  color: #767e9e;
  border: 1px solid #767e9e;
  border-radius: 4.5px;
  font-size: 1.1rem;
  padding: 4px 5.5px 5px 7px;
  line-height: 1em;
  margin-right: 8px;
  letter-spacing: 0.04545em;
  transition: background-color 1s;
  outline: none;
}

.buttons__sort:nth-child(2){
  margin-right: 8.1px;  
}

.buttons__sort:nth-child(3){
  padding: 4px 4.5px 5px 6px;
  margin-right: 8.2px;  
}

.buttons__sort:nth-child(4){
  padding: 4px 4.8px 5px 6px;
  margin-right: 0;  
}

.button_selected {
  color: #c5c5c5;
  border-color: #c5c5c5;
}

.buttons__sort:hover {
  cursor: pointer;
  background-color: #516475;
  color: #2d303a;
}

.portfolio .layout-4-column {
  margin-top: 19px;
}

.layout-4-column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap; 
  height: 601px;
  width: 940px;
  overflow: hidden;
}

.layout-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 220px;
  height: 100%;
}

.project-image {
  width: 100%;
  height: 187px;
  position: relative;
  overflow: hidden;
}

.project-image > img {
  position: absolute;
}

.image__ship {
  top: -11px;
  left: -8px;
}

.image__ball { 
  top: -43px;
  left: -82px;  
}

.image__city { 
  top: -1px;
  left: -11px;  
}

.image__robot { 
  top: -2px;
  left: -24px;  
}

.image__animals { 
  top: -16px;
  left: -10px;  
}

.image__mockup { 
  top: -4px;
  left: -16px;  
}

.image__cyclops { 
  top: -39px;
  left: -31px;  
}

.image__chickens { 
  top: -32px;
  left: -24px;  
}

.image__monster-mountain { 
  top: -2px;
  left: -16px;  
}

.image__title { 
  top: -113px;
  left: -141px;  
}

.image__white-monster { 
  top: -175px;
  left: -144px;  
}

.image__photo-frame { 
  top: -60px;
  left: -36px;  
}

/*~~~~~~~~~~~ABOUT US-BLOCK~~~~~~~~~~~*/

.about-us {
  background: #f2f2f2;
  border-bottom: 6px solid #ffffff; 
}

.about-us .wrapper {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 62px;
  padding-bottom: 67px;
  color: #666d89;
}

.about-us__title {
  letter-spacing: -0.005em;
  line-height: 1em;
}

.about-us__paragraph {
  margin-top: 21.5px;
  line-height: 1.69em;
}

.about-us .layout-3-column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 44.8px;
  width: 940px;
  height: 443px;  
}

.member {
  width: 300px;
}

.member:nth-child(2) {
  margin-left: -2px;
}

.member-photo {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.member-info {
  padding-top: 17px;
}

.info__name {
  font-weight: 900;
  font-size: 1.8rem;
  line-height: 1;
  letter-spacing: -0.006em;
  margin-left: -0.6px;
  width: 301px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.member:nth-child(2) .info__name{
  margin-left: 0.4px;
}

.info__text {
  color: #767e9e;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.75em;
  margin-top: 10px;
  letter-spacing: -0.005em;
}

.contacts-wrapper {
  margin-top: 23px;
}

.member-contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 156px;
  height: 35px;
}

.member-contacts img:hover {
  cursor: pointer;
  border-bottom: 2px dotted;
  transition: border-bottom 0.3s;
}

.member:last-child .member-contacts{
  margin-left: -1px;
}









