@font-face {
  font-family: "Lato";
  src:local("Lato-Light"), local("Lato Light"),
  url("assets/fonts/Lato-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: local("Lato-Regular"), local("Lato Regular"),
  url("assets/fonts/Lato-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: local("Lato-Semibold"), local("Lato Semibold"),
  url("assets/fonts/Lato-Semibold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: local("Lato-Bold"), local("Lato Bold"),
  url("assets/fonts/Lato-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: local("Lato-Black"), local("Lato Black"),
  url("assets/fonts/Lato-Black.ttf");
  font-weight: 900;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Lato", "AdobeInvisFont", "MyriadPro-Regular", sans-serif; 
  font-weight: 400;
  font-size: 10px;
  text-align: justify;
  color: #ffffff;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

#home {
  scroll-margin-top: 95px; 
}

#services, #portfolio,
#about, #contact {
  scroll-margin-top: 90px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  box-sizing: border-box;
  width: 100%;
  max-width: 1020px;
  padding: 0 40px 0 40px;
  margin: 0 auto;
}

/*~~~~~~~~~~~HEADER-BLOCK~~~~~~~~~~~*/

.header {
  position: sticky;
  top: 0;
  z-index: 20;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
  font-weight: 700;
}

.header_transparency {
  background-color: rgb(45, 48, 58, 0.8);
  border-bottom-color: rgb(50, 55, 70, 0);
}

.header .wrapper {
  text-transform: uppercase;
  padding-top: 31px;
  padding-bottom: 32px;
}

.logo_colored {
  color: #f06c64;
}

.logo h1 {
  font-size: 2.55rem;
  line-height: 1em;
  letter-spacing: -0.095rem;
}

.header__navigation {
  margin-top: 11px;
}

.navigation {
  display: flex;
  font-size: 1.2rem;
  list-style-type: none;
  letter-spacing: -0.25px;
}

.navigation__item:not(:last-child)::after {
  content: "•";
  position: relative;
  bottom: 1px;
  padding: 0 12.5px 0 12.5px;
  font-size: 0.6rem;
  color: rgb(73,78,98);
  text-align: center;  
  letter-spacing: -0.3px;
  transition: all 0.2s;
}

.item_active {
  color: #f06c64;
}

.navigation__item > a:hover {
  filter: brightness(0.7);
}

.burger-menu {
  display: none;
}

.burger-menu__button {
  position: absolute;
  top: 26px;
  left: 20px;
  z-index: 30;
  display: flex;
  align-items: center;
  width: 25px;
  height: 17.5px;
  transition: all 0.5s;
}

.button__lines,
.button__lines::before,
.button__lines::after {
  width: 25px;
  height: 2.5px;
  background-color: #ffffff;
  border-radius: 5px;
}

.button__lines {
  position: relative;
}

.button__lines::before {
  content: "";
  position: absolute;
  top: -8px;
}

.button__lines::after {
  content: "";
  position: absolute;
  top: 8px;
}

.burger-menu__button:hover{
  cursor:pointer;
  filter: brightness(0.7);
}

.burger__overlay {
  display: none;
  position: fixed;
  z-index: 20;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
}

.logo.burger_active {
  left: 71px;
  z-index: 30;
}

.header__navigation.burger_active,
.burger__overlay.burger_active {
  display: block;  
  left: 0;
}

.burger-menu__button.burger_active {
  transform: rotate(90deg);
}

@media (max-width: 767px) {
  .header {
    border: none;
  }

  .header .wrapper {
    justify-content: center;
    height: 71px;
    padding: 0 20px;
  }

  .logo {
    position: absolute;
    top: 24px;
    left: calc(50% - 44px);
    transition: left 0.5s;
  }

  .logo h1{
    font-size: 2.0rem;
  }

  .burger-menu {
    display: flex;
  }

  .header__navigation {
    position: absolute;
    left: -100%;
    top: 0;
    z-index: 25;
    width: 278px;
    height: 100vh;    
    background: #2d303a;
    box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
    margin: 0;
    transition: left 0.5s;
  }

  .navigation {
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    left: 71px;
    top: 30%;
    height: 60vh;
    max-height: 300px;
    font-size: 2.4rem;
  }

  .navigation__item:not(:last-child)::after {
    content: "";
    padding: 0;
  }

  #home {
    scroll-margin-top: 71px; 
  }

  #services, #portfolio,
  #about, #contact {
    scroll-margin-top: 65px;
  }
}

/*~~~~~~~~~~~SLIDER-BLOCK~~~~~~~~~~~*/

.carousel {
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
  transition: all 0.5s ease-in-out;
}

.carousel .wrapper {
  padding: 3.9% 3% 4.25% 3.1%;
}

.carousel__button {
  display: flex;
}

.button {
  width: 16px;
  height: 27px;
  background: url("assets/icon/chev.svg") no-repeat;
  border: none;
  outline: none;
  transition: all 0.2s;
}

.carousel-slides {
  position: relative;
  overflow: hidden;
  width: 96.6%;
}

.slide {
  display: none;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 88%;
  padding: 0 6%;
  animation: 0.5s ease-in-out;
}

.slide > div {
  display: flex;
  position: relative;
}

.vertical-phone {
  width: 30.115%;
  padding-top: 60.732%;
}

.horizontal-phone {
  width: 60.732%;
  padding-top: 30.115%;
}

.slide img {
  position: absolute;
  top: 0;
  left: 0;  
}

.phone-shadow {
  z-index: 1;
  width: 100%;
}

.vertical-phone .phone {
  width: 89.585%;
}

.horizontal-phone .phone {
  width: 94.63%;
}

.phone-body {
  z-index: 2;
}

.phone-screen {
  z-index: 3;
}

.second_slide {
  justify-content: center;
}

.second_slide .vertical-phone {
  z-index: 2;
}

.vertical-phone.back_phone {
  transform: scale(0.6);
  z-index: 1;
  left: -9.2%;
  opacity: 0.5;
}

.vertical-phone.back_phone:first-child {
  left: 8%;
}

.button_reflect {
  transform: scale(-1,1);  
}

.phone:hover {
  cursor: pointer;
}

.button:hover {
  cursor: pointer;
  border-radius: 5px;
  box-shadow: inset 0px 0px 10px -1px rgba(0,0,0,0.75);
}

.screen_off {
  z-index: 0;
}

.carousel_colored {
  background-color: #648BF0;
  border-bottom: 6px solid #386beb;
}

.slide_active,
.slide_next {
  display: flex;
}

.slide_next {
  position: absolute;
  top: 0;
}

.to-left {
  animation-name: left;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

.from-right {
  animation-name: right;
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

@media (max-width: 767px) {
  .carousel {
    border: none;
  }
}

/*~~~~~~~~~~~SERVICES-BLOCK~~~~~~~~~~~*/

.services {
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;  
}

.services .wrapper {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 62px;
  padding-bottom: 30px;
  color: #666d89;
}

.services .layout-3-column div {
  display: inline-flex;
}

h2, h3, p {
  display: inline-flex;
  line-height: 1;
}

.title {
  display: flex;
  flex-direction: column;
}

.title h2 {
  font-weight: 900;
  font-size: 3rem;
}

.services__title {
  letter-spacing: -0.006em;
}

.title p {
  margin-top: 21px;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.7em;
  color: #767e9e;
}

 .services .layout-3-column {
  margin: 45px 0 34px 1px;
  display: grid;
  grid-template-areas: 
  "a a a"
  "a a a";
  grid-gap: 34px 20px;
  width: 100%;
}

.tool {
  height: 89px;
}

.icon__wrapper {
  box-sizing: border-box;
  height: 59px;
  width: 59px;
  border-radius: 50%;
  border: 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 79.5px;
  padding-top: 2px;
}

.text {
  flex-direction: column;
}

.text h3 {
  font-weight: 900;
  font-size: 1.8rem;
  letter-spacing: -0.01em;
}

.text p {
  overflow: hidden;
  padding-top: 10px;
  width: 100%;
  max-width: 220px;
  height: 61.5px;
  font-size: 1.2rem;
  line-height: 1.8em;
  color: #767e9e;
}

@media (max-width: 1019px) {
  .services .layout-3-column {
    grid-template-areas: 
    "a a"
    "a a"
    "a a";
  }

  .tool {
    justify-content: center;
    margin: 0 33px 21px 0;
  }
}

@media (max-width: 767px) {
  .services {
    border: none;
  }
  .services .wrapper {
    padding: 45px 30px 40px 30px;
  }

  .services .layout-3-column {
    grid-template-areas: 
    "a"
    "a"
    "a"
    "a"
    "a"
    "a";
    margin-bottom: 0;
  }

  .tool {
    margin: 0 13px 0 0;
  }
}

/*~~~~~~~~~~~PORTFOLIO-BLOCK~~~~~~~~~~~*/

.portfolio {
  background-color: #2d303a;
  border-bottom: 6px solid #323746;  
}

.portfolio .wrapper {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 62px;
  padding-bottom: 67px;
  color: #666d89;
}

.portfolio__title {
  letter-spacing: -0.004em;
  line-height: 1em;
}

.buttons {
  margin-top: 11px;
  margin-left: 1px;
}

.buttons__sort {
  font-family: "Lato", "AdobeInvisFont", "MyriadPro-Regular", sans-serif;
  font-weight: 400;
  background: none;
  color: #767e9e;
  border: 1px solid #767e9e;
  border-radius: 4.5px;
  font-size: 1.1rem;
  padding: 4px 5px 5px 6px;
  line-height: 1em;
  letter-spacing: 0.04545em;
  transition: background-color 1s;
  outline: none;
  margin-right: 1.4%;
}

.button_active {
  color: #c5c5c5;
  border-color: #c5c5c5;
}

.buttons__sort:hover {
  cursor: pointer;
  background-color: #516475;
  color: #2d303a;
}

.portfolio .layout-4-column {
  margin-top: 19px;
  display: grid;
  grid-template-areas: 
  "a a a a"
  "a a a a"
  "a a a a";  
  grid-gap: 20px;
  width: 100%;
  opacity: 1;
}

.project-image {
  width: 100%;
  padding-top: 85%;
  opacity: 1;
  transition: opacity 0.3s;
}

.project-image.hidden {
  opacity: 0;
}

.project-image:hover {
  cursor: pointer;
}

.image_active {
  box-shadow: 0px 0px 0px 5px #F06C64;
}

.image_ship {
  background: url('assets/img/project1.png') no-repeat;
  background-size: cover;
}

.image_ball { 
  background: url('assets/img/project2.png') no-repeat;
  background-size: cover;
}

.image_city { 
  background: url('assets/img/project3.png') no-repeat; 
  background-size: cover;
}

.image_robot { 
  background: url('assets/img/project4.png') no-repeat; 
  background-size: cover;
}

.image_animals { 
  background: url('assets/img/project5.png') no-repeat; 
  background-size: cover;
}

.image_mockup { 
  background: url('assets/img/project6.png') no-repeat; 
  background-size: cover;
}

.image_cyclops { 
  background: url('assets/img/project7.png') no-repeat; 
  background-size: cover;
}

.image_chickens { 
  background: url('assets/img/project8.png') no-repeat; 
  background-size: cover;
}

.image_monster-mountain { 
  background: url('assets/img/project9.png') no-repeat;
  background-size: cover;
}

.image_title { 
  background: url('assets/img/project10.png') no-repeat; 
  background-size: cover;
}

.image_white-monster { 
  background: url('assets/img/project11.png') no-repeat; 
  background-size: cover;
}

.image_photo-frame { 
  background: url('assets/img/project12.png') no-repeat; 
  background-size: cover;
}

.portfolio .project-image:nth-child(n + 13) {
  display: none;
}

@media (max-width: 1019px) {
  .portfolio .layout-4-column {
    grid-template-areas: 
    "a a a"
    "a a a"
    "a a a" 
    "a a a"; 
  }
}

@media (max-width: 767px) {
  .portfolio {
    border: none;
  }

  .portfolio .wrapper {
    padding: 50px 30px 55px 30px;
  }

  .portfolio .layout-4-column {
    grid-template-areas: 
    "a a"
    "a a"
    "a a" 
    "a a"; 
    grid-gap: 13px;
  }

  .portfolio .project-image:nth-child(n + 9) {
    display: none;
  }
}

@media (max-width: 374px) {
  .buttons__sort {
    font-size: 1.0rem;
  }  
}

/*~~~~~~~~~~~ABOUT US-BLOCK~~~~~~~~~~~*/

.about-us {
  background: #f2f2f2;
  border-bottom: 6px solid #ffffff; 
}

.about-us .wrapper {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 62px;
  padding-bottom: 64px;
  color: #666d89;
}

.about-us__title {
  letter-spacing: -0.005em;
  line-height: 1em;
}

.about-us .layout-3-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 45px;
}

.member {
  width: 31.915%;
}

.member-photo {
  width: 100%;
}

.member-photo:hover {
  box-shadow: 0px 0px 16px 5px rgba(0,0,0,0.75);
}

.member-info {
  padding-top: 15px;
}

.info__name {
  font-weight: 900;
  font-size: 1.8rem;
  line-height: 1;
  letter-spacing: -0.006em;
  margin-left: -0.6px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.info__text {
  color: #767e9e;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.75em;
  margin-top: 10px;
  letter-spacing: -0.005em;
}

.member .contacts-wrapper {
  margin-top: 23px;
}

.member-contacts {
  display: flex;
  flex-direction: row;
  height: 36px;
}

.member-contacts img {
  margin-right: 8px;
}

.member-contacts img:hover {
  cursor: pointer;
  border-bottom: 2px dotted;
  transition: border-bottom 0.3s;
}

@media (max-width: 767px) {
  .about-us {
    border: none;
  }
  .about-us .wrapper {
    padding: 45px 30px 40px 30px;
  }
  .about-us .layout-3-column { 
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }

  .member {
    width: 75%;
    min-width: 315px;
  }

  .member:not(:last-child) {
    margin-bottom: 35px;
  }
}

@media (max-width: 374px) {
  .member {
    min-width: 100%;
  }
}

/*~~~~~~~~~~~GET-QUOTE-BLOCK~~~~~~~~~~~*/

.get-quote {
  background: #f06c64;
  border-bottom: 6px solid #ea676b;
} 

.get-quote .wrapper {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 62px;
  padding-bottom: 12px;
  color: #f0d8d9;
}

.get-quote .title {
  flex-direction: column;
}

.quote__title {
  letter-spacing: -0.004em;
  line-height: 1em;
}

p.quote__paragraph {
  color: #f0d8d9;
}

.form-information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.get-quote .form-information {
  margin-top: 4.7%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65.9%;
}

.form__input:not(:last-child),
.form__textarea {
  margin-bottom: 2.6%;
}

.form__input,
.form__textarea {
  box-sizing: border-box;  
  font-family: "Lato", "AdobeInvisFont", "MyriadPro-Regular", sans-serif; 
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 0.045em;
  background-color: #d6564f;
  border: none;
  border-radius: 5px;
  outline: none;
}

.form__input {
  width: 100%;
  height: 38px;
  padding: 1px 14.5px 1.5px 14.5px;
  color: #f0d8d9;
  border: none;
  border-radius: 5px;
  outline: none;   
}

.form__textarea {
  width: 100%;
  height: 202px;
  padding: 11px 14.5px 11px 14.5px;
  color: #f0d8d9;  
  resize: none;   
}

.input_submit {
  width: 100px;
  transition: all 0.5s;
}

.input_submit:hover {
  text-transform: uppercase;
  cursor: pointer;
  color: #f0d8d9;
  font-weight: 900;
}

input::placeholder,
textarea::placeholder {
  color: #f48c8f;
}

.input_invalid {
  color: maroon;
  border: 2px solid darkred;
}

.form__input:hover,
.form__textarea:hover {
  background-color: #cd5b45;
  cursor: pointer;
}

.popup__overlay {
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: block;
}

.popup_hidden {
  display: none;
}

.popup {
  display: flex;
  flex-direction: column;
  width: 300px;
  min-height: 180px;
  font-size: 1.6rem;
  color: #666d89;
  background: #f2f2f2;
  box-shadow: 1px 0px 10px rgb(125, 125, 125);
  margin: 100px auto;
  border-radius: 15px;
}

.popup > span {
  margin: 10px;
}

.popup__title {
  text-align: center;
  font-weight: 700;
  border-bottom: 1px solid;
}

.popup__subject,
.popup__describe{
  max-height: 40px;
  overflow: hidden;
}

.popup__describe {
  max-height: 250px;
}

.popup__button {
  margin: 20px auto 0px;
  width: 100px;
  text-transform: uppercase;
}

.popup__button:hover {
  cursor: pointer;
}

.information {
  width: 31.9%;
}

.information__title {
  font-size: 1.8rem;
  line-height: 1;
  letter-spacing: 0.005em;
}

.information__paragraph {
  margin-top: 9.5px;
  font-size: 1.2rem;
  line-height: 1.85em;
  letter-spacing: -0.008em;
}

.information__adres {
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  margin-top: 8%;
  height: 55px;
  font-size: 1.2rem;
}

.adres__row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.adres__logo {
  width: fit-content;
  height: fit-content;
}

.img-wrapper {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding-right: 10px;
  width: 23px;
}

.adres__row a {
  display: flex;
  align-items: flex-end;
}

.adres__row a:hover {
  color: darkred;
  font-weight: 900;
}

@media (max-width: 767px) {
  .get-quote {
    border: none;
  }

  .get-quote .wrapper {
    padding: 45px 30px 40px 30px;
  }  

  .get-quote .form-information {
    flex-direction: column;
  }

  .get-quote .form {
    width: 100%;
    margin-right: 0;
    margin-bottom: 33px;
  }

  .information, .input_submit {
    width: 100%;
  }

  .information__adres {
    margin-top: 10px;
  }
}

@media (max-width: 374px) {
  .get-quote .form-information {
    width: 100%;
  }
}

/*~~~~~~~~~~~FOOTER-BLOCK~~~~~~~~~~~*/
.footer {
  background: #2d303a; 
}

.footer .wrapper {
  flex-direction: row;
  padding: 21px 33px 19px 42px;
  font-size: 1.2rem;
  color: #5b6179; 
}

.footer__copyright {
  margin-top: -1.5px;
  letter-spacing: -0.0125em;
}

@media (max-width: 767px) {
  .footer .wrapper {
    justify-content: center;
  }

  .footer__copyright {
    display: none;
  }
}
